.card {
  width: 100px;
  height: 150px;
  color: black;
  /* background: url("../images/cards/back.png"); */
}

.card__front {
  display: none;
}

.card__back {
  display: block;
}

.card__img {
  width: 100px;
  border: 5px solid;
  border-color: black;
  border-radius: 20px;
}
